{% extends "base.html" %}

{% block title %}inventory Page{% endblock %}

{% block head %}
{{ block.super }}
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'collection/style.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'reset.css' %}">

{% endblock %}

{% block content %}
<div class="page-container">

    {% block menu %}
    {% include "menu.html" %}
    {% endblock %}

    {% load default_blocks %}
    {% show_header user%}

    {% block navigation %}
    {% include "navigation.html" %}
    {% endblock %}
    <div class="container">
        <div class="content">
            <div class="user_inventory">
                <span>My Inventory</span>
                <a href="/game/edit/new/" class="btnv6_blue_hoverfade fr">add game</a>
            </div>
            <div id="collection_items">
                {% for item in inventory %}
                <div class="collectionRow " id="game_260750">
                    <div class="collectionRowLogo">
                        <a href="{{'/game/description/'}}{{item.id}}">
                            {% if item.image %}
                            <img style="width: 184px;height: 69px;"
                                 src="{{ item.image.url }}" alt="Image not found" onerror="this.onerror=null;this.src='/static/media/image{{item.id}}.png';">
                            {% else %}
                            <img style="width: 184px;height: 69px;"
                                 src="/static/coming_soon.png">
                            {% endif %}
                        </a>
                    </div>
                    <div class="inventoryRowItem">
                        <div class="gameListPriceData">
                            <div class="storepage_btn_ctn">
                                <a href="{{'/game/description/'}}{{item.id}}" class="btnv6_blue_hoverfade btn_small "><span>Visit Store Page</span></a>
                            </div>
                        </div>
                        <h4 class="ellipsis">{{ item.name }}</h4>

                        <div class="play_button fr">
                            <a href="{{'/game/play/'}}{{item.id}}" class="btnv6_blue_hoverfade btn_small "><span>Play</span></a>
                            <span>|</span>
                            <a href="{{'/game/edit/'}}{{item.id}}" class="btnv6_blue_hoverfade btn_small "><span>Edit</span></a>
                            <span>|</span>
                            <a href="{{'/game/statistic/'}}{{item.id}}" class="btnv6_blue_hoverfade btn_small "><span>Statistic</span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}

</div>

{% endblock %}
