<!DOCTYPE html>
<html>
<head>
    <title>Email confirmation view</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="page-container">
        <div class="container">
            <nav class="navbar navbar-inverse" style="margin-bottom:0; height:20px; min-height: 0;">
              <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right" style="height:20px; min-height: 0;">
                  <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
              </div>
            </nav>

            <div class="header-bar row">
                <div class="header-header col-sm-8"><h1>Logo/Header here</h1></div>
                <div class="search-bar col-sm-4">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>

            <nav class="navbar navbar-default" style="margin-bottom: 0;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                </div>
            </nav>

            <div class="content">
                <div id="verification-text" class="text-center width-control">
                    <h3>Verification Email Sent</h3>
                    <p>Please check your email for a confirmation request.
                    Once you click that link, your registration will be complete.</p>
                    <p>
                        The email have been sent to [email address]. Did you not receive email?
                        Don't worry! Here you can resend verification email to new email address.
                    </p>
                    <button class="btn btn-success">Change Email</button>
                </div>
            </div>

            <footer class="footer-bar">Footer bar</footer>

        </div>
    </div>
</body>

</html>