{% extends "base.html" %}

{% block title %}Email confirmation view{% endblock %}

{% block head %}
{{ block.super }}
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}


{% block content %}
<div class="page-container">

    {% block menu %}
    {% include "menu.html" %}
    {% endblock %}

    <div class="container">

    {% block header %}
    {% include "header.html" %}
    {% endblock %}

    {% block navigation %}
    {% include "navigation.html" %}
    {% endblock %}

        <div class="content">
            <div id="verification-text" class="text-center width-control">

                <h3 class="header3">WOW!</h3>
                <p>Thank you for your email confirmation. Now you can login your account.</p>
                <p>
                  Ready to be a game changer!
                </p>
            </div>
        </div>
    </div>

    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}

</div>





{% endblock %}
