

#statistic{
    max-width: 760px;
    margin: 50px auto;
    padding: 0 10px;
}

#game-sales-header{
    margin-bottom: 10px;
}

.sales-sub-data{
    overflow: auto;
    margin-bottom: 10px;
}

.table{
    background: black;
}


#statistic-table tr, td, th{
    border: 1px solid black;
    padding: 0px 10px;
}

td.trans-price{
    width: 30px;
}

.sale-data{
    padding-left: 20px;
}
